.output {
    position: fixed;
    margin: 50px 50px 10px 1001px;
}

.output-header {
    border-radius: 8px 8px 0 0;
    height: 50px;
    width: 600.5px;
    background-color: transparent;
}

.output-space {
    top: 18.8vh;
    left: 123.6vh;
    position: absolute; 
    height: 555px;
    width: 600px;
    background-color: #282c34;
    border-color: #282c34;
    color: #e4e4e4;
    border-radius: 0 0 8px 8px;
    overflow:hidden;
}

.default-space{
    position: absolute; 
    height: 555px;
    width: 600px;
    background-color: #2F3139;
    border-color: #2F3139;
    color: #e4e4e4;
    border-radius: 0 0 8px 8px;
}

.output-text {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    width: 500px;
    height: 555px;
    overflow: hidden;
    white-space: pre-wrap;
    word-wrap: break-word;
    margin-top: 30px;
    margin-left: 55px;
    margin-right: 45px;
}

.bar-container {
    margin-top: 95.5%;
    margin-left: 10px;
    width: 580px;
    height: 20px;
    background-color: #e4e4e4;
    border-radius: 25px;
}

.bar {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight:normal;
    margin-top: 95.5%;
    width: 180px;
    height: 20px;
    background-color: #6a9f82;
    border-radius: 10px;
    align-items:center;    
    justify-content:flex-end;
    display: flex;
    border-radius: 25px;
}

.score {
    display: flex;
    margin-right: 20px;
    font-size:small;
    font-weight: 100px;
    color: #393939;
}

.standard {
    align-self: auto;
    height: 100%;
    width: 33.3%;
    border-radius: 8px 0 8px 0;
    background-color: #0B314C;
    color: #ffffff;
    cursor: pointer;
    border: 2px solid #0B314C;
}

.suggestion {
    align-self: auto;
    height: 100%;
    width: 33.4%;
    border-radius: 8px 0 8px 0;
    background-color: #0B314C;
    color: #ffffff;
    cursor: pointer;
    border: 2px solid #0B314C;
}

.enhance {
    align-self: auto;
    height: 100%;
    width: 33.3%;
    border-radius: 8px 8px 0 0;
    background-color: #0B314C;
    color: #ffffff;
    cursor: pointer;
    border: 2px solid #0B314C;
}

.active-standard {
    align-self: auto;
    height: 100%;
    width: 33.3%;
    border-radius: 8px 0 8px 0;
    background-color: #0B314C;
    color: #e4e4e4;
    border: 2px solid #0B314C;
    border-bottom-color: #ffffff;
    pointer-events: none;
    cursor: pointer;
}

.active-suggestion {
    align-self: auto;
    height: 100%;
    width: 33.4%;
    border-radius: 8px 0 8px 0;
    background-color: #0B314C;
    color: #e4e4e4;
    border: 2px solid #0B314C;
    border-bottom-color: #ffffff;
    pointer-events: none;
    cursor: pointer;   
}

.active-enhance {
    align-self: auto;
    height: 100%;
    width: 33.3%;
    border-radius: 8px 8px 0 0;
    background-color: #0B314C;
    color: #e4e4e4;
    border: 2px solid #0B314C;
    border-bottom-color: #ffffff;
    pointer-events: none;
    cursor: pointer;
}