.register-container {
  display: flex;
  width: 55vw;
  height: 80vh;
  margin-left: 22.5%;
  margin-top: 3%;
  font: 1em sans-serif;
}

.reginfo-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  position: relative;
  justify-content: center;
  text-align: center;
}

.reginfo-container::after {
  border-radius: 0px 10px 10px 0px;
  content: "";
  opacity: 0.5;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-image: url("../../public/login_background.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.reginfo-container h1 {
  color: white;
  font-size: 80px;
  align-content: center;
}

.highlight {
  color: #f92e2e;
}

.rinput-container {
  display: flex;
  flex-direction: column;
  border-radius: 10px 0px 0px 10px;
  width: 50%;
  height: 100%;
  background-color: #222931;
  align-items: center;
}

.reginput-field {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-top: 6rem;
}

.reginput-field input {
  padding: 0.8rem;
  margin-bottom: 1.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.regSuccess {
  color: rgb(69, 163, 69);
  font-size: 12px;
  text-align: center;
  margin-top: 2rem;
}

.regSuccess a {
  color: rgb(71, 112, 169);
}

.regFail {
  color: rgb(243, 89, 89);
  font-size: 12px;
  text-align: center;
  margin-top: 2rem;
}

.signup-button {
  display: flex;
  flex-direction: column;
  width: 60%;
  font: 1em sans-serif;
  font-size: small;
  margin-top: 3rem;
}

.signup-button img {
  width: 14px;
  margin-right: 10px;
}

.show-hide-btn {
  display: flex;
  align-self: flex-end;
  align-items: center;
  justify-content: center;
  border: none;
  margin: 0;
  background: none;
  color: inherit;
  font: inherit;
  outline: none;
  background-color: #e3e3e3;
  padding: 0.3rem;
  border-radius: 5px;
  font-size: 12px;
  width: 57px;
  margin-top: -1rem;
}

.show-hide-btn .btn-content {
  display: flex;
  align-items: center;
  gap: 5px;
}

.show-hide-btn img {
  width: 15px;
  padding-right: 3px;
}

.show-hide-btn:hover {
  cursor: pointer;
}

.signup-button button:hover {
  cursor: pointer;
}

.signup-button button {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 14px;
  color: #303030;
}

.signup-button text {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  color: #dddddd;
  align-self: center;
}

.signup-button text a {
  color: rgb(95, 136, 193);
}
