.sidebar {
  background-color: #252934;
  height: 100%;
  width: 17vw;
  position: fixed;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
}

.sidebar::-webkit-scrollbar {
  width: 0px;
}

.saved-test {
  position: absolute;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  height: auto;
}

.btn-test {
  background-image: url("/public/approval.png");
  background-repeat: no-repeat;
  background-position: 10px center;
  padding-left: 35px;
  background-size: 17px;
  display: inline;
  border-radius: 10px;
  color: #fff;
  text-align: left;
  height: 40px;
  margin-left: -25px;
  width: 270px;
  border: 1.5px solid #252934;
  background-color: #252934;
}

li {
  list-style: none;
}

.btn-test:hover {
  background-color: #95a1ca;
}

.clear-history {
  position: absolute;
  bottom: 70px;
  height: 45px;
  width: 95%;
  margin-bottom: 10px;
  margin-left: 6.5px;
  border-radius: 10px;
  background-color: #252934;
  color: #ffffff;
  cursor: pointer;
  border-top: 1.5px solid #474e6a;
  border-left: 1.5px solid #474e6a;
  border-right: 1.5px solid #474e6a;
  border-bottom-color: #95a1ca;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  border-bottom: 1.5px solid #474e6a;
  transition: none !important;
}

.efficiency {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  width: 94%;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: #252934;
  color: #ffffff;
  cursor: pointer;
  border: 1.5px solid #474e6a;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

.accuracy {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  width: 94%;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: #252934;
  color: #ffffff;
  cursor: pointer;
  border: 1.5px solid #474e6a;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

.generate {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  width: 94%;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: #252934;
  color: #ffffff;
  cursor: pointer;
  border: 1.5px solid #474e6a;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

.active-efficiency {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  width: 94%;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: #0b314c;
  color: #e4e4e4;
  border: 1.5px solid #474e6a;
  pointer-events: none;
  cursor: pointer;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

.active-accuracy {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  width: 94%;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: #0b314c;
  color: #e4e4e4;
  border: 1.5px solid #474e6a;
  pointer-events: none;
  cursor: pointer;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

.active-generate {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  width: 94%;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: #0b314c;
  color: #e4e4e4;
  border: 1.5px solid #474e6a;
  pointer-events: none;
  cursor: pointer;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}
